aim==3.25.0
fairscale==0.4.13
gmpy2==2.1.2
joblib==1.4.2
jsonlib-python3==1.6.1
lpips==0.1.4
natsort==8.4.0
PySocks==1.7.1
scikit-image==0.24.0
sconf==0.2.5
timm==0.3.2
tensorboard==2.17.0
fvcore==0.1.5.post20221221